.mVote{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stVote{
    padding: 15px !important;
    background-image: linear-gradient(to bottom right, rgb(94, 6, 145),rgb(138, 95, 162),rgb(76, 4, 117));
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    border:0;
    outline:none;
    cursor: pointer;
    width: 50vw;
    height: 25vh;
    margin: 20px auto 0;
    border-radius: 30px;
    -webkit-text-stroke: 0.5px black;
}
.verVoter{
    width: 100%;
    height: 80vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.verVoter form input,
.verVoter form button{
    padding: 2vw 2vw;
    height:25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    border: 3px solid rgb(18, 157, 167);
    border-radius: 20px;
    color: rgb(18, 157, 167);
    word-spacing: 2px;
}
.verVoter form input:focus{
    outline: none !important;
    border: 5px solid rgb(14, 136, 145);
    border-radius: 20px;
    color: rgb(18, 157, 167);
    letter-spacing: 5px;
}
.verVoter form input:focus::placeholder{
    color:transparent;
}
.cVote{
    width: 100%;
    height: 80vh;
    display: none;
    align-content: top;
    justify-items: center;
}
#ccVote{
    width: 100%;
    height: 60vh;
    padding: 20px;
    display: grid;
    align-content: top;
    justify-items: center;
    overflow-y: scroll;
}

.canTemplate{
    display: none;
    width: 80vw;
    
}
.mcan{
    display: flex;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: left;
}
#pic,
#fprint{
    width: 100px;
}
#pic img,
#fprint img{
    height: 100px;
    object-fit: contain;
}
.ccan{
    display:grid;
    grid-template-rows: 2fr 1fr;
    width: 80vw;
    padding: 2vh 3vw;
}
#name{
    font-size: 30px;
}
#pty{
    font-size: 20px;
}
.canTemplate > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.canTemplate > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid rgb(109, 228, 236);
    border-radius: 20px;
    transition: background-image 1s ease-out;
    margin: 1vw;
}
.canTemplate > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-image: linear-gradient(to left,rgb(6, 115, 123),rgb(69, 182, 190),rgb(14, 137, 146));
    border: 1px solid #6ae0e0;
    border-radius: 20px;
    box-shadow: 5px 10px rgba(15, 170, 173, 0.2);
}

.ctNota,
.ctVote{
    width: 20vw;
    height:8vh;
    margin:2vw;
    font-size: 25px;
    border-radius: 10px;
}
.ctVote{
    background-image: linear-gradient(to bottom right, rgb(94, 6, 145),rgb(138, 95, 162),rgb(76, 4, 117));
    color: antiquewhite;
}